<%= yield_content :project_subnav  %>


<div class="subnav-section">
  <h1>Installation:</h1>
  <ul>
    <li>
      <%= nav_link_to "Violators will be prosecuted", "/violators-prosecuted/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Sense of balance", "/projects/sense-of-balance/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Lenscapes #02", "/projects/lenscapes-02/documentation.html" %>
    </li>
    <!--<li>
      <%= nav_link_to "Hermann / Making of Österreich", "/projects/hermann/index.html" %>
    </li>-->
    <li>
      <%= nav_link_to "1024_14_Thoenen_Oberndorfer", "/projects/1024_14/index.html" %>
    </li>
  </ul>
</div>



