<%= yield_content :project_subnav  %>

<div class="subnav-section">
  <h1>Photography:</h1>
  <ul>
    <li>
      <%= nav_link_to "Almost Nature", "/projects/almost-nature/index.html" %>
    </li>
    <!--<li>
      <%= nav_link_to "Sunset 400", "/projects/sunset/index.html" %>
    </li>-->
    <li>
      <%= nav_link_to "Se Souvenir", "/se-souvenir/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Autrement on devient fou.....", "/autrement-on-devient-fou/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Taylor & Nova", "/projects/taylor-nova/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Inherited / Brandstiftung", "/projects/inherited/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Ortsmarkierung Ohne Namen", "/projects/xx-xx-xxx-x-y-t-dir/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Parisian Spring", "/projects/parisian-spring/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Foukauld - La Disparition", "/foukauld/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Chez Kalhex", "/projects/kalhex/index.html" %>
    </li>
    <li>
      <%= nav_link_to "21er Haus", "/projects/21er-haus/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Hainburgerstrasse", "/projects/hainburgerstrasse/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Vor Ort Kölnbreinsperre", "/projects/vor-ort/index.html" %>
    </li>
    <li>
      <%= nav_link_to "La Rosaleda", "/projects/rosaleda/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Lilian Bailey School", "/projects/lilian-bailey/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Grau|bünden", "/projects/graubuenden/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Kraftwerk Kaprun", "/projects/kraftwerk-kaprun/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Traces IV", "/projects/traces-IV/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Traces III", "/projects/traces-III/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Bakary J", "/projects/bakary-j/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Swim At Own Risk", "/projects/swim/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Empire de la Lumiere", "/projects/empire/index.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section">
  <h1>What I expect:</h1>
  <ul>
    <li>
      <%= nav_link_to "Essay M. Oberndorfer (E/F/D)", "/photography/expect.html" %>
    </li>
  </ul>
</div>