<nav role="navigation" class="mainnav">
  <ul>
    <li>
    <%= main_nav_link 'Photography', '/revisited/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Photofilm / Video', '/photofilm/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Installation', '/projects/sense-of-balance/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Sound', '/projects/a-sound-is-not/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Books / Editions', '/shop/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'CV', '/cv/index.html' %>
    </li>
  </ul>
</nav>