<nav role="navigation" class="mainnav">
  <ul>
    <li>
    <%= main_nav_link 'Photography', '/photography/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Photofilm', '/photofilm/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'CV', '/cv/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Friends', '/friends/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Foukauld - La Disparition', '/foukauld/index.html' %>
    </li>
  </ul>
</nav>