<nav role="navigation" class="mainnav">
  <ul>
    <li>
    <%= main_nav_link 'Photography', '/photography/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Photofilm &amp; Video', '/photofilm/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Installation', '/projects/sense-of-balance/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Music', '/projects/darkroom-debuts/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'CV', '/cv/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Buy Books', '/shop/index.html' %>
    </li>
    <!--<li>
      <%= main_nav_link 'Autrement', '/autrement-on-devient-fou/index.html' %>
    </li>
    <li>
      <%= main_nav_link 'Foukauld', '/foukauld/index.html' %>
    </li>-->
  </ul>
</nav>