<%= yield_content :project_subnav  %>


<div class="subnav-section">
  <h1>Videos:</h1>
  <ul>
    <li>
      <%= nav_link_to "Archived Material", "/archived-material/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Autrement Interview (pwd)", "/autrement-on-devient-fou/interview.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section">
  <h1>Photofilm Selection:</h1>
  <ul>
    <li>
      <%= nav_link_to "Omega Point", "/omega-point/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 07_1", "/projects/untitled-in-case-07/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 06 (pwd)", "/projects/untitled-in-case-06/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 05_4 (pwd)", "/projects/untitled-in-case-05/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 04 (pwd)", "/projects/untitled-in-case-04/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 03 (pwd)", "/projects/untitled-in-case-03/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 02 (pwd)", "/projects/untitled-in-case-02/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Untitled In Case 01 (excerpt)", "/projects/untitled-in-case-01/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Lenscapes #02 (excerpt)", "/projects/lenscapes-02/index.html" %>
    </li>
  </ul>
</div>


<div class="subnav-section">
  <h1>Project Documentations:</h1>
  <ul>
    <li>
      <%= nav_link_to "Almost Nature", "/projects/almost-nature/timelapse.html" %>
    </li>
    <li>
      <%= nav_link_to "Se Souvenir", "/se-souvenir/timelapse.html" %>
    </li>
    <li>
      <%= nav_link_to "Blitzkrieg", "/projects/blitzkrieg/index.html" %>
    </li>
    <!--<li>
      <%= nav_link_to "Lenscapes #02", "/projects/lenscapes-02/documentation.html" %>
    </li>
    <li>
      <%= nav_link_to "Sense of balance", "/projects/sense-of-balance/index.html" %>
    </li>-->
  </ul>
</div>


<div class="subnav-section">
  <h1>Stopmotion Selection:</h1>
  <ul>
    <li>
      <%= nav_link_to "The Crab", "/projects/the-crab/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Illuminated By The Light", "/projects/illuminated/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Illumations", "/projects/illumations/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Communicate", "/projects/communicate/index.html" %>
    </li>
  </ul>
  <br />
      <p>
    This is a selection of moving image projects from the last years. To receive a password for those marked with "PWD" please write an email. Thank you for your understanding.
      </p>
</div>

