<%= yield_content :project_subnav  %>


<div class="subnav-section">
  <h1>Installation:</h1>
  <ul>
    <li>
      <%= nav_link_to "Darkroom Debuts (Ep)", "/projects/darkroom-debuts/index.html" %>
    </li>
    <li>
      <%= nav_link_to "A Sound Is Not (Album)", "/projects/a-sound-is-not/index.html" %>
    </li>
    <li>
      <%= nav_link_to "La Fine Ligne (Remix)", "/projects/fine-ligne/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Brandstiftung", "/sound/index.html" %>
    </li>
  </ul>
</div>


<div class="subnav-section">
  <h1>What I expect:</h1>
  <ul>
    <li>
      <%= nav_link_to "Essay M. Oberndorfer (E/F/D)", "/photography/expect.html" %>
    </li>
  </ul>
</div>

