<%= yield_content :project_subnav  %>


<div class="subnav-section">
  <h1>Music &amp; Sound:</h1>
  <ul>
    <li>
      <%= nav_link_to "A Sound Is Not (Album)", "/projects/a-sound-is-not/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Darkroom Debuts (Ep)", "/projects/darkroom-debuts/index.html" %>
    </li>
    <li>
      <%= nav_link_to "La Fine Ligne (Remix)", "/projects/fine-ligne/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Brandstiftung", "/sound/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Lenscapes 02", "/projects/lenscapes-02/sound.html" %>
    </li>
  </ul>
</div>


<div class="project-info">
  <ul>
      For more (tracks, mixtapes, free downloads) check my <a href="https://sirlensalot.bandcamp.com" target="_blank">bandcamp</a> or <a href="https://soundcloud.com/lens_j" target="_blank">soundcloud</a>.
  </ul>
</div>


