<div class="subnav-section">
  <h1>Foukauld - La Disparition:</h1>
  <ul>
    <li>
      <%= nav_link_to "Book &amp; Ltd Box", "/foukauld/book.html" %>
    </li>
    <li>
      <%= nav_link_to "La Disparition Slideshow", "/foukauld/index.html" %>
   </li>
    <li>
      <%= nav_link_to "Essay Inge Marszolek (E/F/D)", "/foukauld/essay-marszolek.html" %>
    </li>
    <li>
      <%= nav_link_to "Essay M. Oberndorfer (E/F/D)", "/foukauld/essay-oberndorfer.html" %>
    </li>
    <li>
      <%= nav_link_to "Essay Wolf Langewitz (E/F/D)", "/foukauld/essay-langewitz.html" %>
    </li>
    <li>
      <%= nav_link_to "Credits &amp; Support", "/foukauld/credits.html" %>
    </li>
    <li>
      <%= nav_link_to "Downloads", "/foukauld/downloads.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/omega-point/">Omega Point (Revised)</a>
    </li>
    <li>
      <a href="/autrement-on-devient-fou/">Autrement on devient fou.....</a>
    </li>
    <li>
      <a href="/se-souvenir/">Se Souvenir</a>
    </li>
    <li>
      <a href="/archived-material/">Archived Material</a>
    </li>
  </ul>
</div>